@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Chela";
    src: url(../src/fonts/ChelaOne-Regular.ttf);
}

.full {
    position: relative;
}
.pointer::after{
    position: absolute;
    right: -1rem;
    transform: translate(0px, 50%);
    content: '<';
}
